
 .long {
    display: inline-block;
  
    margin: 0;
    padding: 10px 10px;

    
    text-rendering: auto;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: bolder ;
    font-size: 14pt ;
    color:white ;
    font-family: sans-serif;
    height: 120px ;
    width: 200px ;
    border: 1px outset buttonface; }


     .c {text-align: center;
margin-right: auto;
margin-left: auto;
margin: 0 ;} 


.medium {
    display: inline-block;
  
    margin: 0;
    padding: 10px 10px;

    
    text-rendering: auto;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: bolder ;
    font-size: 14pt ;
    color:white ;
    font-family: sans-serif;
    height: 60px ;
    width: 100px ;
    border: 1px outset buttonface; }


     .c {text-align: center;
margin-right: auto;
margin-left: auto;
margin: 0 ;} 

input {margin-left: 2em; margin-right: 2em}
label {margin-left: 1em; margin-right: 1em}
#message {font-size: 10pt ; font-style: italic;color: black ; text-align: justify;}

body {background-color: white}

h2 {color: green }
h1 {color: blue;}
h3 {color:orange;}


img {position: relative;}
